/* Global */

.ui-content > h4:first-child,
.ui-content > p:first-child {
  margin-top: 0;
}

.ui-collapsible-heading .ui-btn {
  white-space: normal;
  text-overflow: inherit;
}

.ui-footer.ui-footer-fixed {
  bottom: 0;
  border: 0;
  padding-bottom: 0;
}

.ui-footer .ui-navbar li .ui-btn {
  font-size: 1em;
  border-left-width: 0;
}

.cctzn-btn {
  border: 0;
  background: linear-gradient(135deg, #680148 -25%, #0D0733 35%);
  color: #fff !important;
  text-shadow: none !important;
}

.cctzn-btn:hover {
  background: linear-gradient(135deg, #680148 -15%, #0D0733 35%);
}


/* Menu */

.ui-panel-display-reveal {
    box-shadow: none;
}

.ui-panel-page-content-position-left {
    box-shadow: -5px 0px 5px rgba(0,0,0,.15);
}

.menu .ui-btn {
  font-weight: normal;
}

.achievements-count {
  position: absolute;
  right: 1em;
  padding: 0 .25em;
  border-radius: 8px;
  background: rgba(0, 0, 0, .3);
  color: #fff;
  text-shadow: none;
}


/* Start page */

.benefits {
  list-style: none;
  padding: 0;
}

.benefits li {
  padding: 0 0 0 1.5em;
}

.benefits li::before {
  display: inline-block;
  width: 1.5em;
  margin: 0 0 0 -1.5em;
  text-align: left;
  font-weight: bold;
  content: '✓';
}


/* Time page */

.start-date .ui-controlgroup-controls {
  display: block;
}

.start-date .ui-radio {
  width: calc(100% / 7);
}

.start-date .ui-radio .ui-btn {
  text-align: center;
}

.start-date .ui-state-disabled {
  opacity: 1;
}

.start-date .ui-state-disabled .ui-btn {
  color: #bebebe;
}

.start-date .ui-radio:nth-child(7) .ui-btn {
  border-right-width: 1px;
}

.start-date .ui-radio:nth-child(n+8) {
  margin-top: -1px;
}

.start-date label {
  padding: 11px 0;
}

.start-date small {
  font-weight: normal;
  display: block;
}

.ui-btn.expert {
  float: right;
  z-index: 2;
  margin-top: -44px;
  margin-right: 7px;
  border: 0;
}


/* Cinema page */

.ui-listview.cinema-picker {
  margin-top: 1.5em;
}

.cinema-picker li:not([role=heading]) {
  padding-left: 80px;
}

[data-cinema-chain=cc] {
  background-color: #f5822b;
}

[data-cinema-chain=mk] {
  background-color: #ec008c;
}

[data-cinema-chain=h] {
  background-color: #0c1421;
}

[data-cinema-chain=c3d] {
  background-color: #8bb811;
}

[data-cinema-chain]::before {
  font-size: 10px;
  font-weight: bold;
  color: #f3f3f3;
  text-shadow: 0 1px 0 #333;
  display: block;
  position: absolute;
  left: 0;
  bottom: 50%;
  width: 80px;
  text-align: center;
  transform: translateY(50%);
}

[data-cinema-chain=cc]::before {
  content: 'Cinema City';
}

[data-cinema-chain=mk]::before {
  content: 'Multikino';
}

[data-cinema-chain=h]::before {
  content: 'Helios';
}

[data-cinema-chain=c3d]::before {
  content: 'Cinema 3D';
}

.cinema-picker .ui-btn {
  font-weight: normal;
}


/* Confirmation popup */

.confirm {
  margin-top: 1em;
}


/* Movies page */

.movie-picker .ui-btn {
  font-weight: normal;
}

.cctzn-label {
  display: inline-block;
  font-size: .75em;
  margin: 4px 8px 0 0;
  padding: 2px 4px;
  text-transform: uppercase;
  border-radius: 4px;
}


/* Timetable page */

.timetable {
  list-style: none;
  margin-top: 1.5em;
  padding: 0;
}

.timetable li {
  margin: 0 0 .25em;
}

.timetable span {
  font-size: 2em;
}


/* Achievements page */

.achievement-list li[data-achievement-id]:not(.unlocked) {
  color: #bebebe;
}

.achievement-list li[data-achievement-id].just.unlocked {
  color: #3EB249;
}

.achievement-list small {
  display: block;
}


/* About page */

.about .ui-bar {
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
}

.about .ui-body {
  border-top-width: 0;
  border-bottom-left-radius: inherit;
  border-bottom-right-radius: inherit;
}
